2) Dado a sequência de Fibonacci, onde se inicia por 0 e 1 e o próximo valor sempre será a soma dos 2 valores anteriores (exemplo: 0, 1, 1, 2, 3, 5, 8, 13, 21, 34...), escreva um programa na linguagem que desejar onde, informado um número, ele calcule a sequência de Fibonacci e retorne uma mensagem avisando se o número informado pertence ou não a sequência.

IMPORTANTE:
Esse número pode ser informado através de qualquer entrada de sua preferência ou pode ser previamente definido no código;

In [52]:
print('-'*30)
print('Sequência de Fibonacci')
print('-'*30)
#anterior = 0
#proximo = 1
#soma = 1
#
fibonacci = [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269]

n = int(input('Escreve o número que deseja consultar se está dentro da sequência de Fibonacci: '))
if n in fibonacci:
    print('O número {} está na sequência de Fibonacci.'.format(n))
else:
    print('Não contém o número {} na sequência de Fibonacci.'.format(n))

    
print(fibonacci,'...')

------------------------------
Sequência de Fibonacci
------------------------------
Escreve o número que deseja consultar se está dentro da sequência de Fibonacci: 31
Não contém o número 31 na sequência de Fibonacci.
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269] ...

3) Dado um vetor que guarda o valor de faturamento diário de uma distribuidora, faça um programa, na linguagem que desejar, que calcule e retorne:
• O menor valor de faturamento ocorrido em um dia do mês;
• O maior valor de faturamento ocorrido em um dia do mês;
• Número de dias no mês em que o valor de faturamento diário foi superior à média mensal.

IMPORTANTE:
a) Usar o json ou xml disponível como fonte dos dados do faturamento mensal;
b) Podem existir dias sem faturamento, como nos finais de semana e feriados. Estes dias devem ser ignorados no cálculo da média;

In [227]:
import pandas as pd
faturamento_df = pd.read_json('faturamento.json')
faturamento_df.drop([3,4,6,10,11,17,18,24,25], axis=0, inplace = True)

faturamento_df.sort_values('valor', ascending= False, inplace = True)
maior_venda = faturamento_df['valor'].max()
dia_maior_venda = faturamento_df['valor'].idxmax()
menor_venda = faturamento_df['valor'].min()
dia_menor_venda = faturamento_df['valor'].idxmin()
display(f'O maior dia de vendas é {dia_maior_venda} e vendeu {maior_venda}')
display(f'Menor dia de venda é {dia_menor_venda} e vendeu {menor_venda}')
media = faturamento_df['valor'].mean()
display('A média é 20865.3') 
display(media)
acima_da_media = [faturamento_df['valor'] >=20865.37016]
acima_da_media
display('Segue abaixo tabela com dias acima da média de vendas:')
faturamento_df.loc[[15,8,20,7,19,5,2,26,1,0]]

'O maior dia de vendas é 15 e vendeu 48924.2448'

'Menor dia de venda é 13 e vendeu 373.7838'

'A média é 20865.3'

20865.37016666666

'Segue abaixo tabela com dias acima da média de vendas:'

    dia       valor
15   16  48924.2448
8     9  46251.1740
20   21  43829.1667
7     8  42889.2258
19   20  35240.1826
5     6  26742.6612
2     3  26139.6134
26   27  25681.8318
1     2  24537.6698
0     1  22174.1664

4) Dado o valor de faturamento mensal de uma distribuidora, detalhado por estado:

SP – R$67.836,43

RJ – R$36.678,66

MG – R$29.229,88

ES – R$27.165,48

Outros – R$19.849,53

Escreva um programa na linguagem que desejar onde calcule o percentual de representação que cada estado teve dentro do valor total mensal da distribuidora.

In [211]:
sp = 67836.43
rj = 36678.66
mg = 29229.88
es = 27165.48
outros= 19849.53
total = sp + rj +mg + es + outros
display('O total do faturamento da empresa  de distribuição é de R${}'.format(total))
display('São Paulo representa {:.2%} do valor total de vendas.'.format(sp / total))
display('Rio de Janeiro representa {:.2%} do valor total de vendas.'.format(rj / total))
display('Minas Gerais representa {:.2%} do valor total de vendas.'.format(mg / total))
display('Espirito Santo representa {:.2%} do valor total de vendas.'.format(es / total))
display('Outros representa {:.2%} do valor total de vendas.'.format(outros / total))

'O total do faturamento da empresa  de distribuição é de R$180759.98'

'São Paulo representa 37.53% do valor total de vendas.'

'Rio de Janeiro representa 20.29% do valor total de vendas.'

'Minas Gerais representa 16.17% do valor total de vendas.'

'Espirito Santo representa 15.03% do valor total de vendas.'

'Outros representa 10.98% do valor total de vendas.'

5) Escreva um programa que inverta os caracteres de um string.

IMPORTANTE:
a) Essa string pode ser informada através de qualquer entrada de sua preferência ou pode ser previamente definida no código;
b) Evite usar funções prontas, como, por exemplo, reverse;

In [226]:
nome = 'Rafael Francisco Portella'
display(nome[::-1])

'alletroP ocsicnarF leafaR'